body {
    font-family: Arial, sans-serif;
    background-color: #ff0202e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} .header{
    text-align: center;

} .corps{
    background-color: chocolate;
}

.calculatrice {
    
    background-color: 18px 25px 25px 0.41;
    border-radius: 15px;
    box-shadow: 0 4px 8px hwb(0 10% 88% / 0.041);
    padding: 20px;
    width: 280px;
    background: rgba(0, 12, 88, 0.715);
    border: black;
} 
  


button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 1.5em;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}#display {
    width: 91%;
    height: 50px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #08070986;
    border-radius: 10px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.row button {
    flex: 1;
}
div{
    background: rgba(2, 40, 136, 0.715);
    border: black;
    border-radius: 16px;
    box-shadow: 25px;
}